<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<table>
  <thead>
    <p>
      Sort by:<%= link_to 'Ascending', root_path(sort: 'lowest') %>   |   <%= link_to 'Descending', root_path(sort: 'highest') %></th>
    <p>
    <tr>
      <th>Student ID</th>
      <th>Student name</th>
      <th>Student grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades = @grades.order(student_grade: :asc) if params[:sort] == 'lowest' %>
    <% @grades = @grades.order(student_grade: :desc) if params[:sort] == 'highest' %>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.student_id %></td>
        <td><%= grade.student_name %></td>
        <td><%= grade.student_grade %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= button_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
